<?xml version="1.0"?>
<launch>
  <node name="rightHandCamSetup" pkg="baxter_tools" type="camera_control.py" required="false" output="screen" args="-o right_hand_camera -r 1280x800"/>
  <node name="leftHandCamSetup" pkg="baxter_tools" type="camera_control.py" required="false" output="screen" args="-o left_hand_camera -r 1280x800"/>

</launch>